@charset "UTF-8";

@font-face {
    font-family: 'Octo' ;
    src: url('TT Octosquares Trial Compressed ExtraLight.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(img/neon-lights-7340790_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 2px 2px 2px black;
    color: white;
}
h1{
    font-family: 'Octo';
    font-size:5em;
    font-style: normal;
    text-align: center;
    padding-top: 30px;
}
article{
    background-color: lightblue;
    width: 50vw;
    height: 70vh;
    padding: 15px;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(21, 0, 49, 0.486);
}
#frame{
    height: 60vh;
    width: 45vw;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(255, 255, 255, 0.432);
    color: rgb(21, 0, 49);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px rgba(21, 0, 49, 0.301);

}
