@charset "UTF-8";

@font-face {
    font-family: 'Octo' ;
    src: url('TT Octosquares Trial Compressed ExtraLight.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#logo{
    width: 150px;
    height: 150px;
}
nav{
    height: 90px;
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap; 
}
a{
    margin-top: 30px;
    color: white;
    text-decoration: none;
}
img{
    border-radius: 40%;
    border: solid 1.5px black;
    height: 30px;
    width: 30px;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(img/neon-lights-7340790_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 2px 2px 2px black;
    color: white;
}

section{
    padding: 25px;
    text-align: center;
    height: 70vh;
}
h1{
    font-family: 'Octo';
    font-size:5em;
    font-style: normal;
}
footer{
    height: 90px;
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
#me{
    justify-content: left;
    display: flex;
    flex-flow: row wrap;
}
#project{
    justify-content: right;
    display: flex;
    flex-flow: row wrap;
    margin-right: -60px;
}
